
/* Styles for Forgot Password Page */
  :root {
    --green-mid: #a8d5ba;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: #f0f0f0;
  }
  .header-separator {
    height: 60px;
    background-color: #adc178;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .forgot-password-container {
    padding: 80px 160px;
    background-color: #abc178;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  input[type="email"], button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  .footer-seprator {
    height: 30px;
    background-color: #ccc;
    margin: 40px 0;
  }

  /* Styles for Set New Password Page */
.header-separator-set {
    height: 60px;
    background-color: #adc178;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.set-new-password-container {
    padding: 80px 160px;
    background-color: #abc178;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 
.container_set{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: #f0f0f0;
}
  .button_set{
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  .button_set:hover {
      background-color: #0056b3;
  }
  .input_email, .input_new_password, .confirm_password {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
/* Common Logo */
  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--green-dark);
    font-weight: 700;
    font-size: 1.3rem;
  }
  
  .logo img {
    width: 60px;
    margin-right: 10px;
  }
  
  .login-btn {
    background-color: var(--green-dark);
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
  }