<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="homepage.html">
                    <img src="../static/images/logo.png" alt="Medicine Explainer Logo">
                    <span>MedInfo</span>
                </a>
            </div>
        </header>
        <div class="container">
            <div class="forgot-password-container">
                <h2>Forgot Your Password?</h2>
                <form id="forgotPasswordForm">
                    <input type="email" id="email" required>
                    <button type="submit">Send Reset Email</button>
                </form>
                
                <p id="success" style="display:none;color:green;"></p>
                <p id="error" style="display:none;color:red;"></p>
                </form>
            </div>  
        </div>
    </body>
    <footer>
        <div class="footer-separator">
            <p>&copy; All information to Medicine Explainer(name pending).</p>
        </div>
    </footer>

</html>

