<!DOCTYPE html>
<htnml>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Set a new Password</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="homepage.html">
                    <img src="assets/images/logo.png" alt="Medicine Explainer Logo">
                    <span>MedInfo</span>
                </a>
            </div>
        <div class="container_set">
            <div class="set-new-password-container">
                <h2>Set a New Password</h2>
                <form action="/set_new_password/{{ token }}" method="POST">
                    <label for="email">Email Address:</label>
                    <input class="input_email" type="email" id="email" name="email" required>
                    
                    <label for="new_password">New Password:</label>
                    <input class="input_new_password" type="password" id="new_password" name="new_password" required>
                    
                    <label for="confirm_password">Confirm New Password:</label>
                    <input class="confirm_password" type="password" id="confirm_password" name="confirm_password" required>
                    
                    <button class="button_set" type="submit">Update Password</button>
                </form>
            </div>  
        </div>
        <script src="static/js/set_new_password.js"></script>
    </body>
    <footer>
        <div class="footer-separator">
            <p>&copy; All information to Medicine Explainer(name pending).</p>
        </div>
    </footer>
</htnml>